* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background: linear-gradient(145deg, #050505, #0A0B0D);
    min-height: 100vh;
    width: 100%;
    color: whitesmoke;
    overflow: hidden;
}

.container .container-fluid {
    margin: 0 auto;
    max-width: calc(90%);
}

/* Navbar */
.container .container-fluid .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container .container-fluid .navbar .navbar-container {
    width: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px 15px 20px;
    border-bottom: 1px solid #535353;
}

.container .container-fluid .navbar .navbar-container .navbar-left {
    font-size: 2rem;
    color: #FFBF00;
    font-weight: 700;
}

.container .container-fluid .navbar .navbar-container .navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Search-bar */
.container .container-fluid .navbar .navbar-container .navbar-right .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #0c0c0c;
    backdrop-filter: blur(21px);
    border-bottom: 1px solid #FFBF00;
    color: #A0A0A0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container .container-fluid .navbar .navbar-container .navbar-right .search-bar {
    width: 250px;
    height: 40px;
    background: linear-gradient(145deg, #0a0a0a, #161616);
    backdrop-filter: blur(21px);
    border: none;
    border-bottom: 1px solid #FFBF00;
    color: #A0A0A0;
    font-size: 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container .container-fluid .navbar .navbar-container .navbar-right .search-bar:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #FFBF00;
}

/* Books Navbar */
.books-navbar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.books-navbar .books-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(90%);
    margin: 0 auto;
}

.books-navbar .list-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.books-navbar .list-grid .btn {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.books-navbar .list-grid .btn:active {
    transform: scale(0.95);
}

.books-navbar .filter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Filter Dropdown */
.books-navbar .books-container .dropdown {
    position: relative;
    display: inline-block;
}

.books-navbar .books-container .dropdown .dropdown-button {
    background: linear-gradient(135deg, #FFD700, #FFBF00, #FFA500);
    border: 1px solid #FFA500;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.1),
                inset -2px -2px 5px rgba(0, 0, 0, 0.5),
                5px 5px 5px #0d0d0e;
    color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.books-navbar .books-container .dropdown .dropdown-button:active {
    transform: scale(0.95);
}

.books-navbar .books-container .dropdown .dropdown-content {
    position: absolute;
    min-width: 120px;
    border-radius: 5px;
    z-index: 10000 !important;
    right: 0;
    top: 100%;
}

.books-navbar .books-container .dropdown .dropdown-content div {
    padding: 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-none {
    display: none;
}

.dropdown-show {
    display: block;
}

/* Book Container */
.books-list-container {
    margin-top: 160px;
    max-height: calc(100vh - 225px);
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: 5px;
    position: relative;
    overflow: auto !important;
    z-index: 1;
}

.books-list-container::-webkit-scrollbar {
    width: 6px;
}
.books-list-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.books-list-container .books-list {
    display: block;
}

/* Books List Header */
.books-list .books-header {
    background: linear-gradient(145deg, #181816, #181816);
    border: 1px solid #272727;
    border-radius: 5px;
    height: 100%;
    width: 99%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    min-width: 600px;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.1),
                inset -2px -2px 5px rgba(0, 0, 0, 0.5),
                5px 5px 5px #0d0d0e;
}

.books-list .books-header .header-center {
    display: flex;
    justify-content: center;
    color: #dddddd;
}

/* Books Record */
.books-list .books-record {
    border: 1px solid #272727;
    border-radius: 5px;
    height: 100%;
    width: 99%;
    margin: 10px auto;
    padding: 10px 15px;
    display: flex;
    align-items: stretch;
    flex: 0 0 auto;
    min-width: 600px;
    cursor: pointer;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.1),
                inset -2px -2px 5px rgba(0, 0, 0, 0.5),
                5px 5px 5px #0d0d0e;
    transition: background-color 0.8s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.books-list .books-record:hover {
    transform: translateY(-5px);
}

.books-list .book-portion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

.books-list .book-portion .center {
    height: 100%;
    display: flex;
    align-items: center;
}

.books-list .book-portion .brd-pad {
    padding: 0 10px;
    font-weight: 500;
    font-size: 0.8rem;
}

.books-list .book-portion .border-cls {
    height: 60%;
}

.books-list .book-portion .l-sml-thumbnail {
    width: 7%;
    min-width: 50px;
}

.books-list .book-portion .l-sml-thumbnail .thumbnail {
    width: 50%;
}

.books-list .book-portion .title {
    width: 43%;
    min-width: 250px;
    height: 100%;
    font-size: 1rem;
    font-weight: 500;
}

.books-list .book-portion .author {
    width: 20%;
}

.books-list .book-portion .publisher {
    width: 20%;
}

.books-list .book-portion .published-date {
    width: 10%;
}

/* Books Card Container */
.books-list-container .books-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    max-width: 100%;
    padding: 10px;
}

.books-card-container .books-card {
    width: 23%;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    left: 320px;
    cursor: pointer;
    box-shadow: inset 5px 5px 10px rgba(255, 255, 255, 0.1),
                inset -5px -5px 10px rgba(0, 0, 0, 0.5),
                5px 5px 5px #0d0d0e;
    transition: background-color 0.8s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.books-card-container .books-card:hover {
    transform: translateY(-5px);
}

.books-card-container .books-card .c-sml-thumbnail {
    margin-bottom: 10px;
}

.books-card-container .books-card .title {
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0 15px 0;
}

.books-card-container .books-card .book-detail {
    text-align: left;
}

.books-card-container .books-card .book-detail .card-text {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 10px;
}

/* Page Footer */
.footer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.footer .record {
    display: flex;
    align-items: center;
}

.footer .record .record-count {
    margin-left: 10px;
}

/* Details Container */
.details-container {
    width: 80%;
    height: 80%;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    text-align: center;
}

/* Details Image */
.details-container .details-left {
    height: 100%;
    width: 40%;
    padding: 10px;
}

.details-container .details-left img {
    height: 100%;
    width: 100%;
}

/* Book Details */
.details-container .details-right {
    text-align: left;
    width: 60%;
    margin: 10px 20px 10px 10px;
}

.details-container .details-right .dtl-title-close {
    display: flex;
    justify-content: space-between;
}

.details-container .details-right .title {
    font-size: 2.5rem;
    margin-left: -5px;
}

.details-container .details-right .close {
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.details-container .details-right .close:active {
    transform: scale(0.95);
}

.details-container .details-right .sub-title {
    font-size: 1.7rem;
    margin-top: 5px;
}

.details-container .details-right .description {
    font-size: 1rem;
    margin-top: 15px;
    text-align: justify;
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: auto;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.details-container .details-right .general-dtl {
    font-size: 0.9rem;
    margin-top: 10px;
    font-weight: bold;
}

.details-container .details-right .general-dtl span {
    font-weight: 300;
}

.details-container .details-right .link {
    text-decoration: none;
    color: #FFBF00;
}

.details-container .details-right .book-preview {
    margin-top: 10px;
}

.dtl-hidden {
    display: none;
}
.dtl-show {
    display: flex;
}

/* Active-Inactive Buttons decoration */
.active-btn {
    background: linear-gradient(135deg, #FFD700, #FFBF00, #FFA500);
    border: 1px solid #FFA500;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.1),
                inset -2px -2px 5px rgba(0, 0, 0, 0.5),
                5px 5px 5px #0d0d0e;
    color: #1a1a1a;
}

.active-btn span {
    color: #1a1a1a;
}

.inactive-btn {
    background: linear-gradient(145deg, #181816, #181816);
    border: 1px solid #272727;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.1),
                inset -2px -2px 5px rgba(0, 0, 0, 0.5),
                5px 5px 5px #0d0d0e;
    color: #dddddd;
}

.inactive-btn span {
    color: #dddddd;
}

.inactive-btn:active {
    transform: scale(0.96);
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.08), 
                -2px -2px 5px rgba(0, 0, 0, 0.7);
    background: linear-gradient(145deg, #0f0f0f, #1a1a1a);
}

.inactive-btn:hover {
    background: linear-gradient(145deg, #202020, #252525);
}

/* Card Decoration */
.red {
    background: linear-gradient(to bottom, #B3052A, #8C0421, #75041C, #5E0316);
    box-shadow: 0px 3px 6px #550013, 
            inset 2px 2px 4px #77021F;
    border: 2px solid #AC062C;
    border-radius: 5px;
}
.red .border-cls {
    border: 1px solid #a31e38;
}
.red .c-sml-thumbnail {
    border-bottom: 2px solid #a31e38;
}
.red .book-detail span {
    color: #F4BFC5;
}
.red .brd-pad {
    color: #F4BFC5;
}

.orange {
    background: linear-gradient(to bottom, #E26E00, #BC5602, #762801, #601905);
    box-shadow: 0px 3px 6px #802700, 
            inset 2px 2px 4px #AA4600;
    border: 2px solid #CD6100;
    border-radius: 5px;
    color: white;
}
.orange .border-cls {
    border: 1px solid #ac501f;
}
.orange .c-sml-thumbnail {
    border-bottom: 2px solid #ac501f;
}
.orange .book-detail span {
    color: #ffc6ad;
}
.orange .brd-pad {
    color: #ffc6ad;
}

.green {
    background: linear-gradient(to bottom, #246A24, #073F1A, #043515, #022E15);
    box-shadow: 0px 3px 6px #0D2B0F, 
            inset 2px 2px 4px #0C4B1C;
    border: 2px solid #0D702D;
    border-radius: 5px;
}
.green .border-cls {
    border: 1px solid #0C6C2C;
}
.green .c-sml-thumbnail {
    border-bottom: 2px solid #0C6C2C;
}
.green .book-detail span {
    color: #bbffd6;
}
.green .brd-pad {
    color: #bbffd6;
}

.magenta {
    background: linear-gradient(to bottom, #6D0D4A, #4B0B3F, #3F0A36, #20042D);
    box-shadow: 0px 3px 6px #2A071F, 
            inset 2px 2px 4px #3B0B31;
    border: 2px solid #6E0F63;
    border-radius: 5px;
}
.magenta .border-cls {
    border: 1px solid #70236f;
}
.magenta .c-sml-thumbnail {
    border-bottom: 2px solid #70236f;
}
.magenta .book-detail span {
    color: #f7beff;
}
.magenta .brd-pad {
    color: #f7beff;
}

.blue {
    background: linear-gradient(to bottom, #246ADC, #2953C3, #292B98, #2D1283);
    box-shadow: 0px 3px 6px #092360, 
            inset 2px 2px 4px #2642AD;
    border: 2px solid #060F36;
    border-radius: 5px;
    color: white;
}
.blue .border-cls {
    border: 1px solid #2F4BB8;
}
.blue .c-sml-thumbnail {
    border-bottom: 2px solid #2F4BB8;
}
.blue .book-detail span {
    color: #b5c5ff;
}
.blue .brd-pad {
    color: #b5c5ff;
}

/* Responsive queries */
@media screen and (max-device-width: 640px) {
    /* Navbar */
    .container .container-fluid .navbar .navbar-container {
        width: calc(100% - 10px);
    }
    .container .container-fluid .navbar .navbar-container .navbar-left {
        font-size: 1.4rem;
    }
    .container .container-fluid .navbar .navbar-container .navbar-right .search-icon{
        width: 30px;
        height: 30px;
    }
    .container .container-fluid .navbar .navbar-container .navbar-right .search-bar {
        width: 150px;
        height: 30px;
        font-size: 0.8rem;
    }

    /* Dropdown Filter */
    .books-navbar .books-container .dropdown .dropdown-content div {
        font-size: 0.8rem;
    }

    /* Book List */
    .books-list .books-header .header {
        font-size: 0.8rem;
    }
    .books-list .book-portion .l-sml-thumbnail {
        width: 5%;
    }
    .books-list .book-portion .title {
        font-size: 0.9rem;
        width: 38%;
    }
    .books-list .book-portion .brd-pad {
        font-size: 0.7rem;
    }
    .books-list .book-portion .published-date {
        width: 18%;
    }
    .books-list-container {
        max-height: calc(100vh - 265px);
    }

    /* Book Card */
    .books-card-container .books-card {
        width: 100%;
    }
    .books-card-container .books-card .title {
        font-size: 0.9rem;
    }
    .books-card-container .books-card .book-detail .card-text {
        font-size: 0.7rem;
    }

    /* Book Detail */
    .details-container {
        flex-direction: column;
        width: 90%;
        height: auto;
        max-height: 90%;
        padding: 10px 0;
    }
    .details-container .details-left {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .details-container .details-left img {
        width: 40%;
        height: auto;
    }
    .details-container .details-right {
        width: 94%;
        margin: 0 10px;
    }
    .details-container .details-right .dtl-title-close {
        align-items: center;
    }
    .details-container .details-right .close span {
        font-size: 1.3rem;
    }
    .details-container .details-right .title {
        font-size: 1.2rem;
        text-align: left;
        margin-left: 1px;
    }
    .details-container .details-right .sub-title {
        font-size: 1rem;
    }
    .details-container .details-right .description {
        width: 100%;
        font-size: 0.8rem;
    }
    .details-container .details-right .general-dtl {
        font-size: 0.7rem;
    }
    .details-container .details-right .link {
        font-size: 0.7rem;
    }
}